process {

    withName: BWA_INDEX       { container = 'biocontainers/bwa:v0.7.17_cv1' }
    withName: BWA_MEM         { container = 'biocontainers/bwa:v0.7.17_cv1' }

    withName: SAMTOOLS_FAIDX  { container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0' }
    withName: SAMTOOLS_SORT   { container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0' }

    withName: GATK_DICT       { container = 'broadinstitute/gatk:4.4.0.0' }
    withName: MUTECT2         { container = 'broadinstitute/gatk:4.4.0.0' }

    withName: FILTER_VARIANTS { container = 'broadinstitute/gatk:4.4.0.0' }

    withName: VISUALIZE_VCF   { container = 'python:3.9-slim' }
}

docker {
    enabled = true
}
