docker.enabled = true

// This ensures Docker has permission to write files in your Windows folders
docker.runOptions = "-u \$(id -u):\$(id -g)"

process {
    withName: 'BWA_INDEX'      { container = 'somatic-bwa:latest' }
    withName: 'SAMTOOLS_FAIDX' { container = 'somatic-samtools:latest' }
    withName: 'GATK_DICT'      { container = 'somatic-gatk:latest' }
    withName: 'BWA_MEM'        { container = 'somatic-bwa:latest' }
    withName: 'SAMTOOLS_SORT'  { container = 'somatic-samtools:latest' }
    withName: 'MUTECT2'        { container = 'somatic-gatk:latest' }
}