profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"
        process {
            withName: 'BWA_INDEX'      { container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_7' }
            withName: 'SAMTOOLS_FAIDX' { container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0' }
            withName: 'GATK_DICT'      { container = 'broadinstitute/gatk:4.4.0.0' }
            withName: 'BWA_MEM'        { container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_7' }
            withName: 'SAMTOOLS_SORT'  { container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0' }
            withName: 'MUTECT2'        { container = 'broadinstitute/gatk:4.4.0.0' }
            withName: 'FILTER_VARIANTS'{ container = 'broadinstitute/gatk:4.4.0.0' }
            withName: 'VISUALIZE_VCF'  { container = 'python:3.9-slim' }
        }
    }

    test {
        docker.enabled = false
    }
}
